:root {
  --dark_blue: rgb(5, 19, 103);
  --dark_blue2: rgb(45, 49, 250);
  --light_blue: rgb(223, 246, 255);
  --light_blue2: rgb(92, 138, 245);
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

